.git
node_modules
**/node_modules
.turbo
**/.turbo
dist
**/dist
.next
**/.next
out
**/out
coverage
**/coverage
__pycache__
**/__pycache__
.venv
*.env
*.env.local
.DS_Store
docs
infra/observability
*.md